{% extends "base.html" %}
{% block content %}
<h2>Adicionar Tarefa</h2>
<form method="POST">
    <div class="mb-3">
        <label>Titulo</label>
        <input type="text" name="titulo" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Descrição</label>
        <textarea name="descricao" class="form-control" required></textarea>
    </div>
    <div class="mb-3">
        <label>Responsável</label>
        <select name="responsavel_id" class="form-control">
            {% for usuario in usuarios %}
                <option value="{{ usuario.id }}">{{ usuario.username }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Adicionar</button>
</form>
{% endblock %}