{% extends "base.html" %}
{% block content %}
<h2>Quadro de Tarefas</h2>
<ul class="list-group">
    {% for tarefa in tarefas %}
        <li class="list-group-item">
            <strong>{{ tarefa.titulo }}</strong> - {{ tarefa.status }}
                <a href="{{ url_for('editar_tarefa', tarefa_id=tarefa.id) }}" class="btn btn-sm btn-primary">Editar</a>
                <a href="{{ url_for('excluir_tarefa', tarefa_id=tarefa.id) }}" class="btn btn-sm btn-danger">Excluir</a>
        </li>
    {% endfor %}
</ul>

<h4 class="mt-4">Tarefas compartilhadas com você</h4>
<ul class="list-group">
    {% for tarefa in tarefas_compartilhadas %}
        <li class="list-group-item">
            <strong>{{ tarefa.titulo }}</strong> - {{ tarefa.status }}
        </li>
    {% endfor %}
</ul>

{% endblock %}